:root {
    font-size: 16px;

    min-height: 100vh;

    box-sizing: border-box;

    --neutral-900: hsl(226, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-500: hsl(227, 10%, 46%);
    --neutral-400: hsl(0, 0%, 69%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);

    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    box-sizing: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: inherit;
    background: none;
    cursor: pointer;
}

button:hover {
    transition-property: background-color, color;
    transition-duration: 100ms;
}

body {
    margin: 0;

    min-height: 100vh;

    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;

    color: var(--neutral-900);
    background: var(--light-gradient);
}

body.dark {
    color: var(--neutral-0);
    background: var(--dark-gradient);
}

.main-container {
    margin: auto;
    padding: 1.2rem;
    max-width: 1280px;
}



.bordered {
    outline: 1px solid var(--neutral-100);
    box-shadow: 0 2px 5px hsl(226, 11%, 37%, 0.15);
}

.dark .bordered {
    outline-color: var(--neutral-600);
    box-shadow: none;
}



.header {
    background-color: var(--neutral-0);
    padding: .6rem;

    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark .header {
    background-color: var(--neutral-800);
    outline: none;
}

.header__theme-button {
    background-color: var(--neutral-100);

    border: none;
    border-radius: .7rem;

    width: 3rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__theme-button:hover {
    background-color: var(--neutral-300);
}

.dark .header__theme-button {
    background-color: var(--neutral-700);
}

.dark .header__theme-button:hover {
    background-color: var(--neutral-600)
}



.ext-top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2rem 0;
}

.ext-top-bar__heading {
    font-size: 2.1rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

.ext-top-bar__button-list {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ext-top-bar__filter-button {
    padding: .6rem 1.2rem;

    background-color: var(--neutral-0);
    border-radius: calc(infinity * 1px);

    font-size: 1.3rem;
}

.ext-top-bar__filter-button:hover {
    color: var(--neutral-600);
}

.dark .ext-top-bar__filter-button {
    background-color: var(--neutral-700);
}

.dark .ext-top-bar__filter-button:hover {
    background-color: var(--neutral-600);
    color: inherit;
}

.ext-top-bar__filter-button[data-active="true"] {
    background-color: var(--red-700);
    color: var(--neutral-0);
    outline: none;
}

.dark .ext-top-bar__filter-button[data-active="true"] {
    color: var(--neutral-900);
    background-color: var(--red-400);
}

.ext-top-bar__filter-button[data-active="true"]:hover {
    background-color: var(--red-500);
}




.ext-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.extension-panel {
    padding: 1.1rem;

    background-color: var(--neutral-0);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.dark .extension-panel {
    background-color: var(--neutral-800);
}

.extension-panel__info-container {
    display: flex;
    align-items: start;
    gap: 1rem;

    margin-bottom: 1.5rem;
}

.extension-panel__info-container h3 {
    margin: 0 0 .6rem 0;
}

.extension-panel__info-container p {
    margin: 0;
    color: var(--neutral-600);
    font-size: .95rem;
}

.dark .extension-panel__info-container p {
    color: var(--neutral-300)
}

.extension-panel__button-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extension-panel__remove-button {
    padding: .5rem 1rem;
    border-radius: calc(infinity * 1px);
    outline-color: var(--neutral-300);
    font-weight: 500;
}

.extension-panel__remove-button:hover {
    background-color: var(--red-500);
    color: var(--neutral-100);
    outline: none;
}

.dark .extension-panel__remove-button:hover {
    color: var(--neutral-900);
    background-color: var(--red-400);
}

.extension-panel__toggle-button {
    background-color: var(--neutral-300);
    width: 2.4rem;
    height: 1.4rem;
    border-radius: calc(infinity * 1px);
    position: relative;
}

.extension-panel__toggle-button:hover {
    background-color: var(--neutral-400);
}

.extension-panel__toggle-button[data-active="true"] {
    background-color: var(--red-700)
}

.extension-panel__toggle-button[data-active="true"]:hover {
    background-color: var(--red-500);
}

.dark .extension-panel__toggle-button {
    background-color: var(--neutral-600);
}

.dark .extension-panel__toggle-button:hover {
    background-color: var(--neutral-500);
}

.dark .extension-panel__toggle-button[data-active="true"] {
    background-color: var(--red-400);
}

.dark .extension-panel__toggle-button[data-active="true"]:hover {
    background-color: var(--red-500)
}



.extension-panel__toggle-button::after {
    background-color: var(--neutral-0);
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: .15rem;
    left: .15rem;
    content: "";
    border-radius: 50%;

    transition: left 100ms;
}

.extension-panel__toggle-button[data-active="true"]::after {
    left: 1.15rem;
}



.attribution :is(a, a:visited) {
    color: var(--red-700);
    text-decoration: none;
    font-weight: 500;
}

.attribution a:hover {
    text-decoration: underline;
}

.dark .attribution :is(a, a:visited) {
    color: var(--red-400);
}

@media screen and (min-width: 640px) {
    .ext-top-bar {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3.8rem;
        margin-bottom: 1.2rem;
    }

    .ext-top-bar__button-list {
        gap: 1rem;
    }

    .extension-panel {
        padding: 1.5rem 1.1rem;
    }

    .extension-panel__info-container p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 708px) {
    .extension-panel {
        min-height: 14rem;
    }
}